<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>登录</title>
<link rel="stylesheet" type="text/css" href="assets/css/login.css" />
</head>

<body>

<img class="bgone" src="assets/images/1.jpg" />
<img class="pic" src="assets/images/a.png" />

<div class="table">
	<div class="wel">某某系统后台登录</div>
	<div class="wel1">MOU MOU XI TONG HUO TAI DENG LU</div>
	<form action="/login" method="post">
		<div class="user">
			<div id="yonghu" style=""><img src="assets/images/yhm.png" /></div>
			<input type="text" name="account" placeholder="用户名" />
		</div>
		<div class="password">
			<div id="yonghu"><img src="assets/images/mm.png" /></div>
			<input type="password" name="password" placeholder="密码"/>
		</div>
		<button class="btn" type="submit">登录</button>
	</form>
</div>

</body>
</html>